In [1]:
import io
import pandas as pd
import boto3
import configparser

config = configparser.ConfigParser()
config.read('config/escec.cfg')

['config/escec.cfg']

In [2]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = config.get('IAM', 'ACCESS_KEY'),
    aws_secret_access_key = config.get('IAM', 'SECRET_ACCESS_KEY')
)

S3_BUCKET_NAME = 'bucket-23000712'

In [3]:
try:
    file = s3.Bucket(S3_BUCKET_NAME).Object('df_rental.xlsx').get()
    data = file['Body'].read()
    df_rental = pd.read_excel(io.BytesIO(data), engine='openpyxl')
except Exception as ex:
    print("No es un archivo.")
    print(ex)

In [4]:
df_rental.head()

,id_rental,name_customer,license_customer,brand_vehicle,model_vehicle,model_year_vehicle,mileage_vehicle,color_vehicle,type_vehicle,rental_value,...,year_start,street_address_end,city_end,state_end,date_end,day_of_week_end,day_num_in_month_end,day_name_end,quarter_end,year_end
0,1,Kelby Matterdace,V435899293,Chevrolet,Cruze,2017,45796,dark gray,Intermediate,29.45,...,2018,310 E 64th St,New York,New York,2018-07-23,1,23,Monday,3,2018
1,1,Kelby Matterdace,V435899293,Hyundai,Elantra,2018,35479,black,Intermediate,29.45,...,2018,310 E 64th St,New York,New York,2018-07-23,1,23,Monday,3,2018
2,2,Orion De Hooge,Z140530509,Nissan,Versa,2016,65956,white,Economy,26.77,...,2018,300 Reunion Blvd,Dallas,Texas,2018-07-12,4,12,Thursday,3,2018
3,2,Orion De Hooge,Z140530509,Mitsubishi,Mirage,2017,55864,light blue,Economy,26.77,...,2018,300 Reunion Blvd,Dallas,Texas,2018-07-12,4,12,Thursday,3,2018
4,3,Sheena Macias,W045654959,Nissan,Versa,2016,65956,white,Economy,26.77,...,2018,1011 Pike St,Seattle,Washington,2018-07-20,5,20,Friday,3,2018