In [15]:
import pandas as pd
import numpy as np
import boto3
import psycopg2
import configparser

In [16]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

In [17]:
RDS_HOST = 'rentals-db.c0tctn6c61lo.us-east-1.rds.amazonaws.com'

print(RDS_HOST)

rentals-db.c0tctn6c61lo.us-east-1.rds.amazonaws.com

In [20]:
pg_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""

In [21]:
query = 'SELECT * FROM customer;'
df_clientes = pd.read_sql(query, pg_driver)
df_clientes.head()

,id,first_name,last_name,dob,driver_license_number,email,phone
0,1,Kelby,Matterdace,1974-05-22,V435899293,kmatterdace0@oracle.com,181-441-7828
1,2,Orion,De Hooge,1992-08-07,Z140530509,odehooge1@quantcast.com,948-294-5458
2,3,Sheena,Macias,1981-03-10,W045654959,smacias3@amazonaws.com,
3,4,Irving,Packe,1994-12-19,O232196823,ipacke4@cbc.ca,157-815-8064
4,5,Kass,Humphris,1993-12-16,G055017319,khumphris5@xrea.com,510-624-4189